<footer class="footer">
  <small>
    <p>&copy; Centro Yeonca'n 2013</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "somos",   somos_path %></li>
      <li><%= link_to "contacto", contacto_path %></li>
    </ul>
  </nav>
</footer>