<% provide(:titulo, 'Contacto')%>

<h1>Contáctanos</h1>

<form class="form-signin">
   <input type="text" class="input-block-level" placeholder="Correo Electrónico">
   <input type="password" class="input-block-level" placeholder="Contraseña">
   <label class="checkbox">
       <input type="checkbox" value="remember-me"> Recuperar cuenta
   </label>
   <button class="btn btn-large btn-primary" type="submit">Regístrate</button>
</form>

