
<div class="fases">
	<h1>||Fases||</h1>
	<h2>FASE 1: Jardín acuapónico</h2>
	<h3>1.1 Jardín acuapónico con celdas solares</h3>	
	<h2>FASE 2: Jardín acuapónico + Lombricomposta</h2>
	<h2>FASE 3: Jardín acuapónico + Lombricomposta + Muros verdes</h2>
	<h2>FASE 4: Jardín acuapónico + Lombricomposta + Muros verdes + Aula virtual</h2>

	<%= link_to "Canvas", 'http://canvanizer.com/canvas/pzH_nfznqiY', class:"center"%>
</div>