
<div id="accordion">
  <h3>FASE 1: Jardín acuapónico</h3>
  <div>
  	<p>
    	Módulo de acuaponia desarrollado en su mayoría con materiales reciclados siguiendo el modelo desarrollado por la ONG "Growing Power" de Milwaukee, Illinois
    </p>
  	<h4>1.1 Jardín acuapónico con celdas solares</h4>
  	<p>
    	En la siguiente iteración el módulo contrará con celdas solares que proveerán de energía a las bombas de agua y de aire
    </p>
  </div>
  <h3>FASE 2: Jardín acuapónico + Lombricomposta</h3>
  <div>
    <p>
    	Además del módulo acuapónico se agregará una granja de lombrices hecha con pallets de madera
    </p>
  </div>
  <h3>FASE 3: Jardín acuapónico + Lombricomposta + Muros verdes</h3>
  <div>
    <p>
    	Alrededor del módulo acuapónico y granja de lombrices se pretende incorporar muros verdes que protegan 
    </p>
    <ul>
      <li>Grafiti verde</li>
      <li>Muro verde con geotextil</li>
      <li>Muro verde con bambú</li>
    </ul>
  </div>
  <h3>FASE 4: Jardín acuapónico + Lombricomposta + Muros verdes + Aula virtual</h3>
  <div>
    <p>
	    La iteración final será crear una aula hecho con ecotécnicas responsables con el medio ambiente como:
    </p>
    <ul>
      <li>Adobe</li>
      <li>Baba de nopal</li>
      <li>Bambú</li>
    </ul>
  </div>
</div>

<%= link_to "Canvas", 'http://canvanizer.com/canvas/pzH_nfznqiY', class:"center"%>

<div id="progressbar"></div>