<% provide(:titulo, 'Idea')%>

<div class="idea">
	<h2>¿QUÉ?</h2> 
		<h3>Centro de producción, concientización, aprendizaje, autosustentable y de transferencia tecnológica</h3>


	</br>
	<h2 class="idea">¿POR QUÉ?</h2>
		<ul>
			<li>Para inspirar, aprender, compartir y ejercitarse</li>
			<li>Es necesario reconectar al hombre con la naturaleza y su alimentación (Principio de Permacultura)</li>
			<li>Para sembrar semillas de esperanzas de un México sostenible y mejor</li>
			<li>Para materializar una idea y crear un programa que mueva conciencias entorno a la seguridad alimentaria, sostenibilidad, autoconsumo y consumo colaborativo</li>
			<li>Para alimentar de manera saludable a gente que carece de recursos</li>
			<li>Para reducir la huella ecológica creada por la transportación de la mayoría de los productos transportados a las ciudades</li>
			<li>Para crear una oportunidad de empleo para jóvenes y adultos mayores</li>
			<li>Para demostrar que las buenas ideas son viables y factibles</li>
			<li>Es necesario dar esperanza y regenerar el tejido social fuertemente dañado en algunas zonas del país</li>
			<li>Para reducir la violencia es necesario implementar iniciativas innovadoras y distintas a las actuales</li>
			<li>Se necesitan espacios en donde los jóvenes puedan ejercitar su cuerpo y mente. Se ha demostrado que la jardinería es una actividadque reduce los niveles de estrés y el contacto con plantas tiene efectos psicológicos positivos en el individuo</li>
			<li>No existe una conciencia de donde provienen los alimentos</li>
			<li>Es necesario fomentar la cultura del autoconsumo y del consumo colaborativo</li>
			<li>Existe desconocimiento de tecnología apropiadas que desafían paradigmas muy arraigados</li>
			<li>Para transferir tecnologías apropiadas y guiar a la gente de menos recursos hacia una forma de vida más sostenible</li>
			<li>Para reducir la pobreza se debe generar riqueza (económica, intelectual y social)</li>
			<li>Finalmente, y ¿por qué no? creo que es una idea que vale mucho la pena materializar y multiplicar</li>
		</ul>

	</br>
	<h2 class="idea">¿CÓMO?</h2>
	<ul>
		<li>Coordinación estrecha entre parte técnica/operativa y administrativa</li>
		<li>Crear prototipo en la ciudad -> Depurar el prototipo -> Replicar en zona marginada</li>
		<li>Documentación extensiva del prototipo</li>
		<li>Obtención y/o compra de información útil para ejecución de prototipo</li>
		<li>Monitorear el crecimiento de peces, ph, temperatura, niveles de nutrientes, calidad del agua, ratio de crecimiento de plantas</li>
		<li>Mediante un proyecto piloto se logrará aprender sobre como replicar el prototipo en diversas regiones del país</li>
	</ul>

	</br>
	<h2>¿CUÁNDO?</h2>
		<h3>.:2013:.</h3>

	</br>
	<h2>¿DÓNDE?</h2>

	<p>Creación de prototipo</p>
	<ul>
		<li>Terreno protegido mediante acuerdo por escrito (posibles lugares: terreno baldío, escuela, terreno comunitario)</li>
		<li>Desarrollar el prototipo en una ubicación conveniente para todos los involucrados</li>
	</ul>
	</br>
	<p>Idealmente podrían crearse centros en:</p>	
	<ul>
		<li>Orfanatos</li>
		<li>Casas de retiro para adultos mayores</li>
		<li>Casas hogar</li>
		<li>Escuelas de tiempo completo</li>
		<li>Centros comunitarios</li>
		<li>Cocinas comunitarias (Cuba y Brasil)</li>
	</ul>

	<%= link_to "Fases", fases_path, class:"center"%>
</div>