<% provide(:titulo, 'Inicio')%>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>+Riqueza = -Pobreza</h1>
  <h2>Generar riqueza en donde hoy hay pobreza</h2>
  <p><a href="#" class="btn btn-primary btn-large">Lee más &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Misión</h2>
    <p>Ser una organización sin fines de lucro de carácter nacional que promueva la generación de riqueza intelectual, tecnológica, económica y social inicialmente en zonas de alta marginación</p>
    <p><a class="btn" href="#">Detalles &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Objetivos:</h2>
      <ul>
        <li>Reducción de la huella ecológica en los proceso de producción alimentaria</li>
        <li>Reducir la dependencia en factores e insumos externos a la comunidad</li>
        <li>Incrementar el acceso a alimentos sanos</li>
        <li>Incrementar el sentido de comunidad y de pertenencia</li>
        <li>Lograr la transferencia tecnológica y empoderamiento de gente local</li>
        <li>Crear oportunidades de autoempleo</li>
        <li>Ser un ejemplo replicable con facilidad en zonas con mayor marginación</li>
      </ul>
    <p><a class="btn" href="#">Detalles &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>Plan de acción:</h2>
      <ul>
        <li>Divulgar idea y armar equipo</li>
        <li>Crear prototipo de módulo acuapónico</li>
        <li>Documentar proceso</li>
      </ul>
    <p><a class="btn" href="#">Detalles &raquo;</a></p>
  </div>
</div>